body {
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
}

.sidebar {
    display: flex;
    justify-content: space-between;
}

.sidebar-nav-menu {
    cursor: pointer;
}

.shopping-cart {
    cursor: pointer;
}

