body {
    background-color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}

.img-login img{
    border-radius: 16px;
    width: 350px;
    padding: 16px 0 0 16px;
}

.input-email input {
    background-color: transparent;
    border-radius: 10px;
    width: 190px;
    height: 19px;
}

.input-email a {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.password {
    display: inline-block;
    vertical-align: middle;
    padding-top: 16px;
}

.password a{
    text-decoration: none;
}

.fa fa-lock {
    font-size: 20px;
    margin-right: 5px;
}

.senha {
    margin: 0;
    font-size: 16px;
    color: black;
}
